

<p>Siehe my-four-app</p>

    http://localhost:4200/servers/1/edit?allowEdit=1#loading
    Ergibt sich durch:
    <textarea  id="w3review" name="w3review" rows="7" cols="50"> 
      { 
      path: 'servers', component: ServersComponent, children: [
      { path: ':id', component: ServersComponent },
      { path: ':id/:edit', component: EditServerComponent }
    ]
    }
      </textarea>

      Clickable Links:
      <textarea  id="w3review" name="w3review" rows="3" cols="50"> 
        <a [routerLink]="['/users', user.id, user.name]"	></a>
    </textarea> 

    http://localhost:4200/users/1/Max
    Ergibt sich durch:    
      <textarea  id="w3review" name="w3review" rows="7" cols="50"> 
      {
        path: 'users', component: UsersComponent, children: [
          { path: ':id/:name', component: UserComponent },
        ]
      }
    </textarea>

   Übergabe von Variablen auf ´Route über Service:
   Hierbei keinen Emitter verwenden sondern Subject
   Route:
    <textarea  id="w3review" name="w3review" rows="7" cols="50"> 
      const routes: Routes = [
      {path: '', component: HomeComponent},
      {path: 'user/:id', component: UserComponent}
    ];
    </textarea>

     Service: 
    <textarea  id="w3review" name="w3review" rows="15" cols="50"> 
    import {EventEmitter, Injectable} from '@angular/core'
    import {Subject} from 'rxjs'
    
    @Injectable()    
    
    //old Version Stattdessen Subject nehmen
    // export class UserService {
    //     activatedEmitter = new EventEmitter<boolean>();
    // }
     export class UserService {
        activatedEmitter = new Subject<boolean>();
     }
    </textarea>

  Click:
    <textarea  id="w3review" name="w3review" rows="5" cols="50"> 
    onActivate() {
      // // this.userService.activatedEmitter.emit(true);
      this.userService.activatedEmitter.next(true);
    }
  </textarea>




<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        ><a [routerLink]="['/home']">Home</a></li>
        <li role="presentation" routerLinkActive="active"
        ><a [routerLink]="['routing/servers']">Servers</a></li>        
        <li role="presentation" routerLinkActive="active"
        ><a [routerLink] = "['/users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>  -->