<p><i>Wichtiger Hinweis: In Angular wird das $-Zeichen manchmal verwendet, um
        anzuzeigen, dass eine Variable ein Observable ist. Dies ist eine gängige
        Konvention, um den Programmierer darauf hinzuweisen, dass die Variable
        einen Strom von Daten darstellt und nicht einfach einen einzelnen
        Wert.</i></p>
<hr>

<p>Behavior Subject mit Subscription:</p>
<app-behavior-subject></app-behavior-subject>
<hr>
<p>Subject-Austausch der Daten von 2 Components:</p>
<app-sender-subject></app-sender-subject>
<app-empfaenger-subject></app-empfaenger-subject>

<hr>
Observable mit Subscription:
<app-observable-new></app-observable-new>
<hr>

<p>Beispiel Observable mit Async:</p>
<app-observable></app-observable>
<hr>
