<h3>Wichtig:</h3>

<pre><code>
<textarea name="" id="" cols="20" rows="10">

ng new my-first-app
ng new my-first-app --no-strict  / nur nicht nehmen
ng new my-first-app --standalone false
ng new my-first-app --routing false  
ng new my-first-app --no-strict --standalone false --routing false
npm i --save bootstrap@3    

npx json-server db.json    

ng add @ngrx/effects
ng add @ngrx/store-devtools
ng add @ngrx/router-store

// Wenn was nicht funkt
npm install --legacy-peer-deps
npm update --all --force  
npm audit fix --force
ng update @angular/cli
npm cache clean --force
npm update
ng update


</textarea>
</code></pre>